.start-game-menu {
    width: auto;
}

.start-game-buttons-wrapper {
    display: flex;
}

.start-game-menu .button {
    font-size: 1.3em;
    margin: 0.5em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.start-game-menu .button .button-icon {
    font-size: 2.8em;
}

@media (max-width: 1024px) {
   .start-game-menu {
        width: 60%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .plate {
        width: 90%;
    }

    .start-game-menu {
        width: 90%;
    }

    .start-game-menu .button .button-icon {
        font-size: 1.8em;
    }

    .start-game-buttons-wrapper {
        flex-direction: column;
    }

    .start-game-menu .button {
        width: 100%;
        margin: .5em 0;
    }
}
@media (max-width: 320px) {
    .start-game-menu .button .button-icon {
        font-size: 1.3em;
    }

    .start-game-menu .button {
        width: 100%;
        margin: .5em 0;
        flex-direction: row;
        text-align: center;
    }
}
